.navbar {
    display: flex;
    align-items: center;
    padding-left: 15px !important;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    flex: 1;
    align-items: center;
}

.navbar ul li  {
    width: 60px;
    margin:0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover {
    color:blue;
    font-weight: 600;
    cursor: pointer;
}
.navbar .title {
    font-size: 20px;
    font-weight: bold;
}
.navbar .cart-container {
    margin-left: auto;
    width: auto;
    display: flex;
    align-items: center;
}

.navbar .cart-container i {
    margin-right: 5px;
}

.navbar .cart-container button {
    margin-left: 12px;
}

